<div class="bg-white rounded-md p-4">
  <div class="flex items-center gap-4">
    <%= form.label :question, "Title" %>
    <%= form.text_field :question %>
  </div>
  <div>
    <%= form.label :question_type, "Question Type" %>
    <%= form.select :question_type, TemplateQuestion.question_types %>
  </div>

  <%= button_to "Adicionar alternativa", "/todo", method: :put, id: "add_alternative_button_q#{idx}" %>
</div>