<% submit_button_class = "btn text-center p-4 hover:cursor-pointer hover:opacity-75 text-xl text-white rounded-lg bg-[#6C2365]" %>

<div class="flex w-full h-full justify-center items-center">
  <div class="flex flex-col w-[600px] max-h-[600px] overflow-y-auto gap-8 bg-white p-8 rounded-lg">
    <%= form_with(model: @template, class: "flex flex-col gap-4") do |form| %>
      <div class="flex items-center gap-4">
        <%= form.text_field :name, class: 'form-control w-full rounded-lg p-4' %>
        <%= form.submit 'Salvar', class: submit_button_class %>
      </div>
    <% end %>

    <% @template.template_questions.each_with_index do |template_question, i| %>
      <%= form_with(model: template_question, url: template_template_question_path(@template.id, template_question.id), class: "") do |form| %>
        <div class="flex flex-col gap-2 p-4">
          <div class="flex items-center gap-4">
            <%= form.label :title, "Q#{i + 1}." %>
            <%= form.text_field :title, class: "w-full rounded-lg" %>
          </div>
          <div class="flex items-center justify-between gap-4">
            <%= form.label :question_type, "Tipo da Questão" %>
            <%= form.select :question_type, TemplateQuestion.question_types %>
          </div>
          <% if %w(radio checkbox).include?(template_question.question_type.to_s) %>
            <div>
              <% JSON.parse(template_question.content).each_with_index do |alternative, j| %>
                <div class="p-4 flex items-center gap-4">
                  <%= form.label "alternative_#{j + 1}", "A#{j + 1}." %>
                  <%= form.text_field "alternative_#{j + 1}", class: "w-full rounded-lg" %>
                </div>
              <% end %>
              <span onclick="addAlternative()">Adicionar Alternativa</span>
            </div>
          <% end %>
          <%= form.submit 'Salvar', class: "btn text-center rounded-lg px-4 py-2 hover:cursor-pointer hover:opacity-75 bg-[#6C2365] text-white" %>
        </div>
      <% end %>
      <%= button_to "Adicionar Alternativa Hidden", "/gerenciamento/templates/#{@template.id}/template_question/#{template_question.id}/add_alternative", method: :post, class: "hidden", id: "add_alternative" %>
    <% end %>

    <%= button_to "Adicionar Nova Questão", "/gerenciamento/templates/#{@template.id}/template_question", method: :post, class: "" %>
  </div>
</div>

<script>
    function addAlternative() {
        console.log("hey there")
        document.getElementById('add_alternative').click();
    }
</script>