<div class="flex w-full h-full justify-center items-center">
  <div class="flex flex-col w-[600px] max-h-[600px] overflow-y-auto gap-8 bg-white p-8 rounded-lg">
    <div>
      <%= form_with(model: @template, url: templates_path, method: :post, local: true) do |form| %>
        <div class="grid grid-cols-1 gap-4">
          <div class="flex items-center gap-4">
            <%= form.label :name, "Nome do template:" %>
            <%= form.text_field :name, class: 'form-control w-full rounded-lg p-4' %>
          </div>

          <div id="questions">
            <% @template.template_questions.each do |question| %>
              <%= render :partial => "question", :locals => { form: form, question: question } %>
            <% end %>
          </div>

          <div class="flex w-full justify-center">
            <%= button_to "+", "/todo", method: :put, id: "add-question-button" %>
          </div>

          <div class="flex w-full justify-center">
            <%= form.submit 'Create Template', class: 'btn text-center px-8 py-4 hover:cursor-pointer hover:opacity-75 text-2xl text-white font-semibold rounded-lg bg-[#6C2365]' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
